---
import Navbar from "@/components/Navbar.astro"
import Sidebar from "@/components/NavBurger.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-sbg.webp" />
		<title>{title}</title>
	</head>
	<body class="py-12">
		<Navbar />
		<Sidebar />

		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: "SF Pro Display", "SF Pro Text", "Helvetica Neue", "Segoe UI", sans-serif;

		/* background: linear-gradient(135deg, #101010, #151515, #101010); */
		background: black;
		background-size: 400% 400%;

		/* Animación de gradiente para el modo oscuro */
		animation: gradientFlowDark 20s ease infinite;

		color: #e0e0e0;
		min-height: 100vh;
	}

	@keyframes gradientFlowDark {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
