---
import HotelSearchPanel from "@/components/searchPanel/HotelSearchPanel.astro"
import TourSearchPanel from "@/components/searchPanel/TourSearchPanel.astro"
import Layout from "@/layouts/Layout.astro"

const { title, producType } = Astro.props
---

<Layout title={title}>
	<div id="intro" class="flex flex-col items-center justify-center gap-5 bg-white p-10 text-center">
		<div class="w-full max-w-4xl">
			{producType === "hotels" ? <HotelSearchPanel /> : null}
			{producType === "tours" ? <TourSearchPanel /> : null}
		</div>
	</div>

	<main>
		<slot />
	</main>
</Layout>
