---
import { getUserFromRequest } from "@/lib/auth/getUserFromRequest"

const user = await getUserFromRequest(Astro.request)
---

<div
	id="fixedUser"
	class="group relative flex cursor-pointer flex-col items-center justify-start gap-3 transition-transform duration-300 group-hover:scale-110"
>
	<div
		class="flex h-12 cursor-pointer items-center justify-between rounded-full transition-transform duration-300 group-hover:scale-90"
	>
		{""}
		<p>{`${user?.email || ""}`}</p>
	</div>
	<div
		class="absolute top-1/2 hidden translate-x-2 translate-y-6 rounded-md py-1 shadow-md transition-opacity duration-300 group-hover:block"
	>
		<a
			href="/api/auth/logout"
			class="block rounded-b-md bg-black py-1 text-center text-xs text-white transition hover:scale-110 hover:bg-slate-800 sm:text-sm md:w-32"
		>
			Cerrar Sesion
		</a>
	</div>
</div>
